/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
/* End of Reset */
/* Start of Custom Styles */
@media only screen and (max-width: 320px)
.content {
    padding: 0 15px;
    font-family: "Raleway", sans-serif;
     -webkit-font-smoothing: antialiased;
}
/* Navigation Section */
.top-navigation {
    background-color: #fff;
    color: #838994; 
    letter-spacing: 0.03em;
    width: 100%;
    z-index: 9999;
    position: relative;
    top:40px;
}

.top-navigation .menu {
    width: 100%;
    height: 10px;
    color: #8886BF;
    font-size: 25px;
    font-family: "Raleway", sans-serif;
     -webkit-font-smoothing: antialiased;
}
.top-navigation .menu li{
    display: inline-block;
    margin-left: 40px;
    margin-top: 0.01px;
}
.top-navigation .menu .active {
    color: #A886BF;
    font-weight: 500;
}
.top-navigation .menu li:hover {
    cursor: pointer;
    color: #9DBF86;
}
/*Introduction*/
.introduction{
    background-color: #5A1E82;

}
.introduction .profile {
    display: block;
    width: 300px;
    margin: 75px auto 0px auto;
    border-radius: 100%;
    padding: 50px 0px 50px;
}
.introduction .name{
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    color: #FFF;
    font-weight: bolder;
    font-family: "Raleway", sans-serif;
     -webkit-font-smoothing: antialiased;
}
.introduction .aboutme{
    font-family: "Raleway", sans-serif;
     -webkit-font-smoothing: antialiased;
     font-size: 16px;
     font-style: italic;
     letter-spacing: 0.04px;
     text-align: center;
     width: 35%;
     margin:0 auto;
     color: #FFF;
     margin-bottom: 40px;
     padding-left: 40px;
     padding-bottom: 80px;
     line-height: 1.2; 
}
/*Projects*/
.projects {
     font-family: "Raleway", sans-serif;
     -webkit-font-smoothing: antialiased;
     margin: 0 auto; 
}
.projects h3{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}
.projects .snapshots {
    margin: 15px auto 15px auto;
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
    border-radius:35%;
    padding-bottom: 100px;
}
.projects h5{
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.8px;
}
/*Footer*/
.footer{
    font-family: "Raleway", sans-serif;
     -webkit-font-smoothing: antialiased;
     margin: 0 auto;  
}
.footer h3{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
}
.footer .social {
    margin: 15px auto 15px auto;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
}
.footer .social li{
    margin-right: 10px;

}
.footer .social li:hover {
    cursor: pointer;
}